@import url(https://fonts.googleapis.com/css?family=Gudea:400,700);
@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);

body{
    perspective:800px;
    height: 100vh;
    margin:0;
    overflow: hidden;
    font-family: 'Gudea', sans-serif;
    background: rgb(44, 99, 201) ; 
    background: -moz-linear-gradient(-45deg,  rgb(44, 99, 201)  0%, #bb6dec 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgb(44, 99, 201) ), color-stop(100%,#bb6dec)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgb(44, 99, 201)  0%,#bb6dec 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgb(44, 99, 201)  0%,#bb6dec 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgb(44, 99, 201)  0%,#bb6dec 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgb(44, 99, 201)  0%,#bb6dec 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(44, 99, 201) ', endColorstr='#bb6dec',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    color: seashell;
}

a{
    color: #bb6dec;
    font-weight:700;
    font-size: medium;
    text-decoration:none;
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    border: 2px solid black;
    background-color: black;
    color: #bb6dec;
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
  }
  
  /* Green */
  .success {
    border-color: #bb6dec;
    color: #bb6dec;
  }

  .success:hover {
    background-color: #bb6dec;
    color: white;
  }



