<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Actualizar Tipo Usuarios</h1>
<br><br>
        <form action="/MainSiteAdmin/Usuarios/actualizar/{{id}}" method="POST">
            Nombre de usuario: <br>
            <input type="text" name="user" id="user" value="{{data[0][2]}}">
            <br><br>
            Nombre: <br>
            <input type="text" name="nombre" id="nombre" value="{{data[0][3]}}">
            <br><br>
            Apellido: <br>
            <input type="text" name="apellido" id="apellido" value="{{data[0][4]}}">
            <br><br>
            Password: <br>
            <input type="password" name="password" id="password" value="{{data[0][5]}}">
            <br><br>
            Correo: <br>
            <input type="text" name="correo" id="correo" value="{{data[0][6]}}">
            <br><br>
            Carnet: <br>
            <input type="text" name="carnet" id="carnet" value="{{data[0][1]}}">
            <br><br>
            Carrera: <br>
            <select name="carrera" id="carrera">
                <option value="ING"> Ingenieria de Negocios</option>
                <option value="DER">Derecho</option>
                <option value="ECO">Economia</option>
            </select>
            <br><br>
            Año: <br>
            <select name="anio" id="anio">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="">Profesor</option>
            </select>
             <br><br>
             Tipo: <br>
             <select name="rol" id="rol">
                <option value="2">Tutor</option>
                <option value="3">Tutorado</option>
            </select>
            <br><br>
            <input type="hidden" name = "id" id="id" value="{{id}}">
            <input type="submit" value="Actualizar">
        </form>
</body>
</html>