<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static' , filename = 'css/prueba.css')}}" rel="stylesheet">

    <title>Main Site</title>
</head>
<body>
    <div class="flex-container" >


        <h1>Bienvenido a tutorias ESEN</h1>
        

    <br>

    <img src="../static/img/logo.png">

    <br>

    <div class="btn success">
        <a href="/MainSiteAdmin">Ir al avance</a>
    </div>
    
</body>
</html>