<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static' , filename = 'css/prueba.css')}}" rel="stylesheet">

    <title>admin</title>
</head>
<body>   
    <div class="flex-container" >
            
            <h1>Segundo Avance</h1>

        <br><br>
        <div class="btn success">
            <a href="/MainSiteAdmin/Usuarios">Ver Usuarios</a>
        </div>
        <br><br>
        <div class="btn success">
            <a href="/MainSiteAdmin/TiposUsuarios">Ver tipos de usuarios</a>
        </div>
        <br><br>
        <div class="btn success">
            <a href="/MainSiteAdmin/materias">Ver materias disponibles</a>
        </div>
    </div>
</body>
</html>