<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materias</title>
    <link href="{{url_for('static' , filename = 'css/tabla.css')}}" rel="stylesheet">
</head>
<body>
    <h1>Materias disponibles</h1>
    <p>Insertar materia</p>
        <form action="/MainSiteAdmin/materias" method="POST">
            Materia: <br>
            <input type="text" name="materia" id="materia">
            <br><br>
            <input type="submit" value="Agregar">
        </form>
        <br><br>
        <a href="/MainSiteAdmin">Volver al inicio</a>
        <br><br>
        <table style="width: 20%">
            <tr>
              <th>Materia</th>
            </tr>
            {% for materia in Materias %}
            <tr>
              <td>{{materia[1]}}</td>
              <td> <a href="/MainSiteAdmin/materias/actualizar/{{materia[0]}}">Actualizar</a></td>
              <td><a href="/MainSiteAdmin/materias/borrar/{{materia[0]}}">Borrar</a></td>
            </tr>
            {% endfor %}
          </table>
          



</body>
</html>