<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipos de Usuario</title>
    <link href="{{url_for('static' , filename = 'css/tabla.css')}}" rel="stylesheet">
</head>
<body>
    <h1>Tipos de Usuarios</h1>
    <p>Insertar Usuario</p>
        <form action="/MainSiteAdmin/TiposUsuarios" method="POST">
            Tipo de Usuario: <br>
            <input type="text" name="tipouser" id="tipouser">
            <br><br>
            <input type="submit" value="Agregar">
        </form>
        <br><br>
        <a href="/MainSiteAdmin">Volver al inicio</a>
        <br><br>
        <table style="width: 20%">
            <tr>
              <th>Tipo Usuario</th>
            </tr>
            {% for user in TipoUsuarios %}
            <tr>
              <td>{{user[1]}}</td>
              <td> <a href="/MainSiteAdmin/TiposUsuarios/actualizar/{{user[0]}}">Actualizar</a></td>
              <td><a href="/MainSiteAdmin/TiposUsuarios/borrar/{{user[0]}}">Borrar</a></td>
            </tr>
            {% endfor %}
          </table>
          



</body>
</html>